{% extends 'form.html' %}
{% block name %}Midterm Meta{% endblock %}
{% block form %}
<div>
    Note: Unless otherwise specified, express all percentages using the range 0% to 100%.
</div>

<div>
    What percentage of time will you have remaining when you finish this examination? <i>(1 point, continuous)</i>
    {{number('time_you', min=0, max=100, step='any')}}
</div>

<div>
    What percentage of time will the average student have remaining when they finish this examination? <i>(1 point, continuous)</i>
    {{number('time_avg', min=0, max=100, step='any')}}
</div>

<div>
    What percentage of students who begin the examination will fail to reach the last page? <i>(1 point, continuous)</i>
    {{number('time_fail', min=0, max=100, step='any')}}
</div>

<div>
    What percentage of students in MATH141 will attempt this examination? <i>(1 point, continuous)</i>
    {{number('attempt', min=0, max=100, step='any')}}
</div>

<div>
    What will be the average grade on this examination? <i>(1 point, continuous)</i>
    {{number('grade', min=0, max=100, step='any')}}
</div>
{% endblock %}