{% extends 'form.html' %}
{% block name %}Class Information{% endblock %}
{% block form %}
<div>
    What percentage of initial UniversityTWOW students registered for MATH141? <i>(1 point, continuous)</i>
    {{number('register', min=0, max=100, step='any')}}
</div>

<div>
    What's the average submission rate for MATH141 assignments? <i>(1 point, continuous)</i>
    {{number('submission', min=0, max=100, step='any')}}
</div>

<div>
    If you are caught up on your research project, checking this box earns you five points. Otherwise, it will result in a five-point deduction. <i>(5 points, discrete)</i>
    {{checkbox('research', ['I am caught up on my research project.'])}}
</div>

<div>
    What percentage of your final grade is this examination worth? <i>(1 point, continuous)</i>
    {{number('midterm', min=0, max=100, step='any')}}
</div>
{% endblock %}