{% extends 'classes/class_page/link_page.html' %}
{% block css %}{{super()}}{% endblock %}
{% block js %}{{super()}}{% endblock %}
{% block body %}
<div>
    <a href="{{url_for('link_page', class_id=class_['id'], link_id=link['id'])}}">Return to the material page</a>
</div>
<h2>
    {{link['name']}}
</h2>
<h3>
    Submission from {{submission['id']}}
</h3>
{{display(submission)}}
{%- if link['points'] and link['points']|float %}
<hr>
    {%- if is_professor() %}
<form method="POST">
    <fieldset>
        <legend>
            Grade
        </legend>
        <input type="number" name="grade" value="{{grade if grade != '-'}}"> / {{link['points']}} <input type="text" name="comment" value="{{comment if comment}}">
    </fieldset>
    <input type="submit" value="SAVE" id="form_save" disabled>
</form>
    {%- else %}
<div>
    Grade: {{grade}}/{{link['points']}}
</div>
        {%- if comment %}
<div>
    Comment: {{comment}}
</div>
        {%- endif %}
    {%- endif %}
{%- endif %}
{% endblock %}