{% extends 'application/page.html' %}
{% block page %}2{% endblock %}
{% block name %}Education{% endblock %}
{% block form %}
<div>
    Please list up to five TWOWs in which you have participated:
</div>
{%- for i in range(5): %}

<hr>

<div>
    Name:
    {{text('name' ~ i)}}
</div>

<div>
    Date of entry:
    {{month('entry' ~ i)}}
</div>

<div>
    Date of graduation:
    {{month('graduation' ~ i)}}
</div>

<div>
    Class rank:
    {{number('rank' ~ i, min=1)}}
    out of
    {{number('size' ~ i, min=1)}}
</div>

<div>
    GPA:
    {{number('gpa' ~ i, min=0, max=100, step=0.01)}}
    %
    {{indent(4, radio('weight' ~ i, ['Normalized', 'Standardized']))}}
</div>
{%- endfor %}
{% endblock %}