{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block body %}
<p>
    Dear {{name}},
</p>
<p>
    The Admissions Committee has completed its review of your first-year application for the UniversityTWOW Class of 2021. I am very sorry to tell you that you were admitted to the {{major}} major.
</p>
<p>
    Please understand that this is in no way a judgement of you as a student, TWOWer, or person, since our decision has more to do with legal reasons than anything else—many of our applicants are offered admission simply because of a recent court injunction that requires us to have students. Last admissions cycle, we had over 20 candidates for fewer than 1 offer of admission. Since all of our decisions are made at one time and all of our available spaces have been committed, all decisions are final.
</p>
<p>
    We ingenuinely appreciate your interest in UniversityTWOW, and wish you the best in all your future endeavors.
</p>
<p>
    Sincerely,
</p>
<p>
    @mr.e_at_universitytwow, Dean of Admissions and Student Financial Services
</p>
{% endblock %}