{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block body %}
{%- if not classes %}
<div>
    You are not enrolled in any classes.
</div>
{%- else %}
<div>
    Welcome to your UniversityTWOW student portal! Please select a class below to navigate to its homepage.
<div>
<ul>
    {%- for class_ in classes %}
    <li>
        <a href="{{url_for('class_page', class_id=class_['id']|replace('404', '440'))}}">{{class_['title']}}</a>
    </li>
    {%- endfor %}
</ul>
    {%- if is_professor() %}
<hr>
<div>
    <a href="{{url_for('transcript')}}">
        Unofficial transcripts are now available!
    </a>
<div>
    {%- endif %}
{%- endif %}
{% endblock %}