{% extends 'base.html' %}
{% block css %}form.css{% endblock %}
{% block js %}form.js{% endblock %}
{% block body %}
<form method="POST">
    <input type="submit" name="next" value="SAVE SECTION" id="form_save" disabled>
    <fieldset>
        <legend>
            {% block name %}{% endblock %}
        </legend>
{% filter indent(width=8) %}{% block form %}{% endblock %}{% endfilter %}
    </fieldset>
    <div> 
        <input type="submit" name="next" value="◄">
        <input type="submit" name="next" value="►">
    {%- if count %}
        <i>
            Page {% block page %}{% endblock %} of {{count}}
        </i>
    {%- endif %}{{remaining|debug}}
    {%- if remaining %}
        <i>
            You have {{format_time(remaining)}} left to submit.
        </i>
    {%- endif %}
    </div>
</form>
{% endblock %}

{% macro get(key, escaped=True) %}{{data.get(key, [''])[0] if escaped else data.get(key, [''])[0] | safe}}{% endmacro %}

{% macro indent(width, content) -%}
{% filter indent(width=width) -%}
{{content}}
{%- endfilter %}
{%- endmacro %}

{% macro properties() -%}
{% for k, v in kwargs.items() %} {{k ~ '=' ~ v}}{% endfor %}
{%- endmacro %}

{% macro text(name) -%}
<input type="text" name="{{name}}"{{properties(**kwargs)}} value="{{get(name)}}">
{%- endmacro %}

{% macro number(name) -%}
<input type="number" name="{{name}}"{{properties(**kwargs)}} value="{{get(name)}}">
{%- endmacro %}

{% macro month(name) -%}
<input type="month" name="{{name}}"{{properties(**kwargs)}} value="{{get(name)}}">
{%- endmacro %}

{% macro select(name, choices) -%}
<select name="{{name}}">
    {%- for choice in choices %}
    <option{{' selected' if get(name, escaped=False) == choice|string}}>{{choice}}</option>
    {%- endfor -%}
    {%- if get(name, escaped=False) not in choices|map('string') %}
    <option selected disabled hidden>-- select --</option>
    {%- endif %}
</select>
{%- endmacro %}

{% macro radio(name, choices) -%}
<div>
    {%- for choice in choices %}
    <div>
        <label>
            <input type="radio" name="{{name}}" value="{{choice}}"{{' checked' if get(name, escaped=False) == choice|string}}>
            {{choice}}
        </label>
    </div>
    {%- endfor %}
</div>
{%- endmacro %}

{% macro checkbox(name, choices) -%}
<div>
    {%- for choice in choices %}
    <div>
        <label>
            <input type="checkbox" name="{{name}}" value="{{choice}}"{{' checked' if choice|string in data.get(name, [])}}>
            {{choice}}
        </label>
    </div>
    {%- endfor %}
</div>
{%- endmacro %}

{% macro prompt(name, question) -%}
<div>
    {{question}} <i>(10 words)</i>
    <div>
        {{text(name, pattern='(\S+[^\w\d]*){0,10}', size=100)}}
    </div>
</div>
{%- endmacro %}