{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block js %}secret.js{% endblock %}
{% block body %}
<div class="zero">
    <video width=960 height=960 class="back" autoplay muted loop>
        <source src="{{url_for('static', filename='img/secret.mp4')}}" type="video/mp4">
    </video>
</div>
<div class="zero">
    <img src="{{url_for('static', filename='img/secret.gif')}}" width=960 height=960 id="secret_bg" class="back nopacity">
</div>
<div class="zero">
    <canvas id="secret_canvas" width=960 height=960 data-branches="{{branches}}">
    </canvas>
</div>
<img width=960 height=960 class="front" usemap="#secret_map">
<map id="secret_map" name="secret_map">
</map>
{% endblock %}
