{% extends 'base.html' %}
{% block css %}form.css{% endblock %}
{% block js %}form.js{% endblock %}
{% macro text(name, value='', required=True) -%}
<div>
    <label>
        {{name|title}}{{'*' if required}}:
        <input type="text" name="{{name}}" value="{{value}}"{{' required' if required}}>
    </label>
</div>
{%- endmacro %}
{% macro multiline(name, value='', required=True) -%}
<div>
    <label>
        {{name|title}}{{'*' if required}}:
        <textarea name="{{name}}"{{' required' if required}}>{{value}}</textarea>
    </label>
</div>
{%- endmacro %}
{% macro select(name, choices, value='', required=True) -%}
<div>
    <label>
        {{name|title}}{{'*' if required}}:
        <select name="{{name}}"{{' required' if required}}>
            {%- if not required or value not in choices.keys() %}
            <option value=""{{' selected' if value not in choices.keys()}}{{' disabled hidden' if required}}>-- select --</option>
            {%- endif %}
            {%- for key, choice in choices.items() %}
            <option value="{{key}}"{{' selected' if key == value}}>{{choice}}</option>
            {%- endfor %}
        </select>
    </label>
</div>
{%- endmacro %}
{% macro checkbox(name, checked=False, required=True) -%}
<div>
    <label>
        {{name|title}}{{'*' if required}}:
        <input type="checkbox" name="{{name}}" value="{{name}}"{{' checked' if checked}}{{' required' if required}}>
    </label>
</div>
{%- endmacro %}
{% macro number(name, value=0, required=True) -%}
<div>
    <label>
        {{name|title}}{{'*' if required}}:
        <input type="number" name="{{name}}" value="{{value}}" min=0{{' required' if required}}>
    </label>
</div>
{%- endmacro %}
{% block body %}
<div>
    <a href="{{url_for('class_page', class_id=class_['id'])}}">Return to your class page</a>
</div>
<form method="POST">
    <fieldset>
        <legend>
            Upload to {{class_['id']}}
        </legend>
    {%- filter indent(width=8) %}
{{text('name', link['name'] or '')}}
{{multiline('text', link['text'] or '', required=False)}}
{{text('link', link['link'] or '', required=False)}}
{{select('type', {'empty': 'No Link', 'container': 'Empty Container', 'embed': 'Embedded Document', 'image': 'Embedded Image', 'video': 'Embedded Video', 'link': 'Raw Link'}, link['type'] or '')}}
{{checkbox('submittable', link['submittable'], required=False)}}
{{number('points', link['points'] or 0)}}
{{select('container', containers, link['container'] or '', required=False)}}
    {%- endfilter %}
    </fieldset>
    <input type="submit" value="UPLOAD" id="form_save">
</form>
{% endblock %}