{% extends 'classes/class_page.html' %}
{% block css %}form.css{% endblock %}
{% block js %}form.js{% endblock %}
{%- macro display(material) %}
{%- if material['text'] %}
<p>
    {{material['text']|replace('\n', '\n<br>\n'|safe)}}
</p>
{%- endif %}
{%- if (material['link'] and material['type'] != 'empty') or material['type'] == 'container'%}
<hr>
<div>
    {%- if material['type'] == 'link' %}
    <a href="{{material['link']}}">{{material['link']}}</a>
    {%- elif material['type'] == 'embed' %}
    <iframe src="{{material['link']}}" width=1024 height=576></iframe>
    {%- elif material['type'] == 'image' %}
    <img src="{{material['link']}}" alt="{{material['link']}}">
    {%- elif material['type'] == 'video' %}
    <video controls>
        <source src="{{material['link']}}" type="video/mp4">
    </video>
    {%- elif material['type'] == 'container' and material['link'] %}
    {{expand(material['link'])}}
    {%- elif material['type'] == 'container' %}
    This container is empty.
    {%- else %}
    Unsupported material type
    {%- endif %}
</div>
{%- endif %}
{%- endmacro %}
{% block body %}
<div>
    <a href="{{url_for('class_page', class_id=class_['id'])}}">Return to the class page</a>
</div>
<h2>
    {{link['name']}}
</h2>
{{display(link)}}
{%- if view_submissions %}
<hr>
    {%- if is_professor() %}
<form method="POST">
    <fieldset>
        <legend>
            Submissions/Grades
        </legend>
        <ul>
        {%- for student in students %}
            <li>
            {%- if student['submission'] %}
                <a href="{{url_for('submission_page', class_id=class_['id'], link_id=link['id'], submission_id=student['id'])}}">{{student['id']}}</a>
            {%- else %}
                {{student['id']}}
            {%- endif %}
            {%- if link['points'] and link['points']|float -%}
                : <input type="number" name="grade-{{student['id']}}" value="{{student['grade'] if student['grade'] != '-'}}" step="any"> / {{link['points']}} <input type="text" name="comment-{{student['id']}}" value="{{student['comment'] if student['comment'] is not none}}">
            {%- endif %}
            </li>
        {%- endfor %}
        </ul>
    </fieldset>
    <input type="submit" value="SAVE" id="form_save" disabled>
</form>
    {%- else %}
        {%- if link['points'] and link['points']|float %}
<div>
    Grade: {{students[0]['grade']}}/{{link['points']}}
</div>
            {%- if students[0]['comment'] %}
<div>
    Comment: {{students[0]['comment']}}
</div>
            {%- endif %}
        {%- endif %}
        {% if students[0]['submission'] %}
<div>
    <a href="{{url_for('submission_page', class_id=class_['id'], link_id=link['id'], submission_id=students[0]['submission']['id'])}}">View submission</a>
</div>
        {%- elif link['submittable'] %}
<div>
    <a href="{{url_for('upload_submission', class_id=class_['id'], link_id=link['id'])}}">Submit</a>
</div>
        {%- endif %}
    {%- endif %}
{%- endif %}
{% endblock %}