{% extends 'classes/class_page/link_page.html' %}
{% block css %}{{super()}}{% endblock %}
{% block js %}{{super()}}|secret_page.js{% endblock %}
{% set class_ = {'id': 'ARG404'} %}
{% set link = step['link'] %}
{% block body %}
{{super()}}
{%- if step['input'] %}
<hr>
<form method="POST">
    <fieldset>
        <legend>
            Submit
        </legend>
    {%- for input in step['input']['inputs'] %}
        {%- macro build() %}<input{% for k, v in input.items() %} {{k ~ '=' ~ v|tojson|replace('||', '\\')}}{% endfor %}>{% endmacro %}
        <div>
        {%- if 'label' in input %}
            <label>
                {{build()}} 
                {{input.pop('label')}}
            <label>
        {%- else %}
            {{build()}}
        {%- endif %}          
        </div>
    {%- endfor %}
        <div>
            <input type="hidden" name="answer" id="secret_answer" data-type="{{step['input']['type']}}">
        </div>
    </fieldset>
    <div>
        <input type="submit" value="SUBMIT" id="form_save">
    </div>
</form>
{%- endif %}
{%- if step['end'] %}
<hr>
<div>
    <b>You have completed this storyline. Click <a href="{{url_for('arg_main')}}">here</a> to return to the main portal.
</div>
{%- endif %}
{% endblock %}
